.div {
  display: flex;
  flex-wrap: wrap;
}
.div2 {
  display: flex;
  flex-wrap: wrap;
}
.numb * {
  color: hsl(217 6% 60%);
  margin: 0;
}
.numb {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  text-align: left;
  padding: 0 15px;
}
.numb p {
  font-size: 15px;
}
.numb h4 {
  padding: 0 5px;
}
@media (max-width: 800px) {
  .div2 {
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: auto 20px !important;
  }
  .div2 form div > div {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .div a {
    width: 100%;
  }
  .div2 {
    flex-direction: column;
  }
}
